In [24]:
from statistics import *
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
data = pd.read_csv(r'D:\Future Skill\Data analytics\WorkshopData Aanlytic\Workshop\data.csv')

In [9]:
data

,Unnamed: 0,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,0,Sub-Saharan Africa,South Africa,Fruits,Offline,M,7/27/2012,443368995,7/28/2012,1593,9.33,6.92,14862.69,11023.56,3839.13
1,1,Sub-Saharan Africa,South Africa,Fruits,Offline,M,7/27/2012,443368995,7/28/2012,1593,9.33,6.92,14862.69,11023.56,3839.13
2,2,Middle East and North Africa,Morocco,Clothes,Online,M,9/14/2013,667593514,10/19/2013,4611,109.28,35.84,503890.08,165258.24,338631.84
3,3,Middle East and North Africa,Morocco,Clothes,Online,M,9/14/2013,667593514,10/19/2013,4611,109.28,35.84,503890.08,165258.24,338631.84
4,4,Australia and Oceania,Papua New Guinea,Meat,Offline,M,5/15/2015,940995585,6/4/2015,360,421.89,364.69,151880.40,131288.40,20592.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1500009,1500009,Asia,India,Snacks,Online,L,10/10/2012,440306556,11/20/2012,5349,152.58,97.44,NaN,NaN,NaN
1500010,1500010,Australia and Oceania,NaN,Household,Online,L,12/5/2016,937431466,12/8/2016,5657,668.27,502.54,3780403.39,2842868.78,937534.61
1500011,1500011,Central America and the Caribbean,NaN,Household,Offline,C,11/19/2011,274930989,12/13/2011,7044,668.27,502.54,4707293.88,3539891.76,1167402.12
1500012,1500012,Asia,Brunei,Cereal,Offline,L,5/28/2013,153842341,7/16/2013,4222,205.70,117.11,NaN,NaN,NaN
1500013,1500013,Middle East and North Africa,Israel,Beverages,Offline,H,9/8/2013,371502530,10/13/2013,4709,47.45,31.79,NaN,NaN,NaN

In [13]:
data.drop(columns='Unnamed: 0',inplace=True)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500014 entries, 0 to 1500013
Data columns (total 14 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Region          1500012 non-null  object
 1   Country         1500008 non-null  object
 2   Item Type       1500013 non-null  object
 3   Sales Channel   1500013 non-null  object
 4   Order Priority  1500014 non-null  object
 5   Order Date      1500014 non-null  object
 6   Order ID        1500014 non-null  int64
 7   Ship Date       1500014 non-null  object
 8   Units Sold      1500014 non-null  int64
 9   Unit Price      1500014 non-null  float64
 10  Unit Cost       1500014 non-null  float64
 11  Total Revenue   1500009 non-null  float64
 12  Total Cost      1500009 non-null  float64
 13  Total Profit    1500009 non-null  float64
dtypes: float64(5), int64(2), object(7)
memory usage: 160.2+ MB

In [27]:
data = data[data['Country'].notnull()]

In [28]:
data['%margin'] = ((data['Total Profit'] / data['Total Revenue'])*100).round(2)

C:\Users\chopp\AppData\Local\Temp\ipykernel_3320\2539237771.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['%margin'] = ((data['Total Profit'] / data['Total Revenue'])*100).round(2)

In [29]:
data

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit,%margin
0,Sub-Saharan Africa,South Africa,Fruits,Offline,M,7/27/2012,443368995,7/28/2012,1593,9.33,6.92,14862.69,11023.56,3839.13,25.83
1,Sub-Saharan Africa,South Africa,Fruits,Offline,M,7/27/2012,443368995,7/28/2012,1593,9.33,6.92,14862.69,11023.56,3839.13,25.83
2,Middle East and North Africa,Morocco,Clothes,Online,M,9/14/2013,667593514,10/19/2013,4611,109.28,35.84,503890.08,165258.24,338631.84,67.20
3,Middle East and North Africa,Morocco,Clothes,Online,M,9/14/2013,667593514,10/19/2013,4611,109.28,35.84,503890.08,165258.24,338631.84,67.20
4,Australia and Oceania,Papua New Guinea,Meat,Offline,M,5/15/2015,940995585,6/4/2015,360,421.89,364.69,151880.40,131288.40,20592.00,13.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1500006,Sub-Saharan Africa,Zimbabwe,Office Supplies,Offline,C,3/28/2011,953361213,4/8/2011,9623,651.21,524.96,NaN,NaN,NaN,NaN
1500008,Australia and Oceania,Vanuatu,Fruits,Online,C,11/3/2013,571997869,11/11/2013,5735,9.33,6.92,NaN,NaN,NaN,NaN
1500009,Asia,India,Snacks,Online,L,10/10/2012,440306556,11/20/2012,5349,152.58,97.44,NaN,NaN,NaN,NaN
1500012,Asia,Brunei,Cereal,Offline,L,5/28/2013,153842341,7/16/2013,4222,205.70,117.11,NaN,NaN,NaN,NaN
1500013,Middle East and North Africa,Israel,Beverages,Offline,H,9/8/2013,371502530,10/13/2013,4709,47.45,31.79,NaN,NaN,NaN,NaN

In [30]:
data.loc[data['Total Profit'].idxmax()]

Region               Europe
Country             Romania
Item Type         Cosmetics
Sales Channel        Online
Order Priority            M
Order Date        3/16/2016
Order ID          707318103
Ship Date          5/3/2016
Units Sold            10000
Unit Price            437.2
Unit Cost            263.33
Total Revenue     4372000.0
Total Cost        2633300.0
Total Profit      1738700.0
%margin               39.77
Name: 80634, dtype: object

In [31]:
data.drop(1500003,inplace=True)

KeyError: '[1500003] not found in axis'

In [32]:
data.drop(1500005,inplace=True)

KeyError: '[1500005] not found in axis'

In [33]:
data.isnull().sum()

Region            1
Country           0
Item Type         0
Sales Channel     0
Order Priority    0
Order Date        0
Order ID          0
Ship Date         0
Units Sold        0
Unit Price        0
Unit Cost         0
Total Revenue     5
Total Cost        5
Total Profit      5
%margin           5
dtype: int64